<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258757044516-1892tp5d7eola5e6o8fretk424ivnh8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258757044516-1892tp5d7eola5e6o8fretk424ivnh8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDBivu4RY5kUg10NJNUl1dGIt9LmEwJLAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>258757044516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-e1a84</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e1a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258757044516:ios:ca0d0c02ad565871b32bb1</string>
</dict>
</plist>